<%= form_for([@book, @book.reviews.build]) do |f| %>

  <div id="rating-form">
    <label>Rating </label>
  </div>

  <%= f.label :comment, "Comment" %>
  <%= f.text_field :comment %>
  <%= f.button :submit %>

<% end %>

<script>
  $('#rating-form').raty({
    starHalf:     '<%= image_path 'star-half.png' %>',
            starOff:      '<%= image_path 'star-off.png' %>',
            starOn:       '<%= image_path 'star-on.png' %>',
    scoreName: 'review[rating]'
  });
</script>

